openapi: 3.0.3
info:
  title: TrainingPeaks Partners Athlete Webhooks API
  version: '2.0'
  description: 'The TrainingPeaks Partners API (Public API) lets approved third-party applications read and write TrainingPeaks data on behalf of a user - athlete profiles, planned and completed workouts, structured workout files, wellness metrics, nutrition, events, routes, coach relationships, activity file uploads, and workout webhooks. It is a JSON over HTTPS REST API secured with OAuth 2.0 (authorization_code and refresh_token grants).


    ACCESS MODEL: Access is partner-gated. Applications must request credentials at https://api.trainingpeaks.com/request-access and are individually evaluated; TrainingPeaks states it is not accepting API requests for personal use. Each application is granted a fixed set of OAuth scopes; requesting more scopes than granted causes the token exchange to fail. The full API surface is publicly documented at https://github.com/TrainingPeaks/PartnersAPI/wiki, from which this specification was authored.


    ENDPOINT PROVENANCE: All paths, HTTP methods, and OAuth scopes in this document are CONFIRMED against the public PartnersAPI wiki API-Endpoints page. Request and response SCHEMAS are MODELED from the wiki object pages and examples, because the live reference responses require partner credentials and an authorized user; treat the property lists as representative rather than exhaustive (marked with x-endpoints-modeled below).'
  contact:
    name: TrainingPeaks API Partnerships Team
    url: https://api.trainingpeaks.com/request-access
  x-access-model: partner-gated (application required; not available for personal use)
  x-endpoints-confirmed: true
  x-schemas-modeled: true
  x-documentation: https://github.com/TrainingPeaks/PartnersAPI/wiki
servers:
- url: https://api.trainingpeaks.com
  description: Production
- url: https://api.sandbox.trainingpeaks.com
  description: Sandbox (UAT; database refreshed weekly from production)
security:
- OAuth2: []
tags:
- name: Webhooks
  description: Workout webhook subscriptions (Early Access).
paths:
  /v1/webhook/subscriptions:
    get:
      tags:
      - Webhooks
      summary: List webhook subscriptions
      description: List webhook subscriptions. Early Access. Scope webhook:read-subscriptions.
      operationId: getWebhookSubscriptions
      responses:
        '200':
          description: Webhook subscriptions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Webhooks
      summary: Create webhook subscription
      description: Create a webhook subscription for an athlete. EventType is one of workout-created, workout-updated, workout-deleted. Early Access. Scope webhook:write-subscriptions.
      operationId: createWebhookSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionRequest'
      responses:
        '201':
          description: The created subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/webhook/subscriptions/{subscriptionId}:
    put:
      tags:
      - Webhooks
      summary: Update webhook subscription
      description: Update a webhook subscription. Early Access. Scope webhook:write-subscriptions.
      operationId: updateWebhookSubscription
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionRequest'
      responses:
        '200':
          description: The updated subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
      - Webhooks
      summary: Delete webhook subscription
      description: Delete a webhook subscription. Early Access. Scope webhook:write-subscriptions.
      operationId: deleteWebhookSubscription
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    BadRequest:
      description: One or more required fields are missing or incorrect.
    Unauthorized:
      description: Bad, expired, or missing authorization header.
  schemas:
    WebhookSubscription:
      type: object
      description: Webhook subscription. Confirmed from Webhook-Create-Subscription wiki page.
      properties:
        Id:
          type: string
          format: uuid
        AthleteId:
          type: integer
          format: int64
        EventType:
          type: string
          enum:
          - workout-created
          - workout-updated
          - workout-deleted
        WebhookUrl:
          type: string
          format: uri
        Active:
          type: boolean
        CreatedBy:
          type: integer
          format: int64
        CreatedOn:
          type: string
          format: date-time
    WebhookSubscriptionRequest:
      type: object
      description: Webhook subscription request. Confirmed from Webhook-Create-Subscription wiki page.
      required:
      - AthleteId
      - EventType
      - WebhookUrl
      properties:
        AthleteId:
          type: integer
          format: int64
          example: 54321
        EventType:
          type: string
          enum:
          - workout-created
          - workout-updated
          - workout-deleted
        WebhookUrl:
          type: string
          format: uri
          description: URL that receives an HTTP POST on a matching event.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow. Tokens are short-lived (expires_in seconds) and refreshed with the refresh_token grant. Scopes are not inclusive (e.g. workouts:details does not include workouts:read) and are limited to those granted to your application.
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.trainingpeaks.com/OAuth/Authorize
          tokenUrl: https://oauth.trainingpeaks.com/oauth/token
          refreshUrl: https://oauth.trainingpeaks.com/oauth/token
          scopes:
            athlete:profile: Read the authenticated athlete's profile and zones.
            coach:athletes: Read coach profile, athletes, and assistants.
            workouts:read: Read planned and completed workouts and analytics.
            workouts:plan: Create, update, and delete planned workouts.
            workouts:wod: Read Workout of the Day and structured workout files.
            workouts:details: Read workout detail samples and post comments.
            metrics:read: Read athlete metrics.
            metrics:write: Create athlete metrics.
            nutrition:read: Read athlete nutrition entries.
            nutrition:write: Create, update, and delete nutrition entries.
            events:read: Read athlete events.
            events:write: Create athlete events.
            routes:read: Read athlete routes.
            routes:write: Create athlete routes.
            file:write: Upload activity files.
            webhook:read-subscriptions: List webhook subscriptions.
            webhook:write-subscriptions: Create, update, and delete webhook subscriptions.
