openapi: 3.2.0
info:
  title: TrainingPeaks Partners Nutrition API
  version: '2.0'
  description: The TrainingPeaks Partners API (Public API) lets approved third-party applications read and write TrainingPeaks data on behalf of a user - athlete profiles, planned and completed workouts, structured workout files, wellness metrics, nutrition, events, routes, coach relationships, activity file uploads, and workout webhooks.
  contact:
    name: TrainingPeaks API Partnerships Team
    url: https://api.trainingpeaks.com/request-access
  x-access-model: partner-gated (application required; not available for personal use)
  x-endpoints-confirmed: true
  x-schemas-modeled: true
  x-documentation: https://github.com/TrainingPeaks/PartnersAPI/wiki
servers:
- url: https://api.trainingpeaks.com
  description: Production
- url: https://api.sandbox.trainingpeaks.com
  description: Sandbox (UAT; database refreshed weekly from production)
security:
- OAuth2: []
tags:
- name: Nutrition
  description: Athlete nutrition log entries.
paths:
  /v1/athletes/{athleteId}/nutrition:
    get:
      tags:
      - Nutrition
      summary: Get athlete nutrition
      description: Retrieve an athlete's nutrition log entries. Date-range reads require a premium athlete (403 for basic). Scope nutrition:read.
      operationId: getNutrition
      parameters:
      - name: athleteId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Nutrition entries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Nutrition'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Nutrition
      summary: Create athlete nutrition
      description: Create a nutrition log entry for an athlete. Scope nutrition:write.
      operationId: createNutrition
      parameters:
      - name: athleteId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Nutrition'
      responses:
        '201':
          description: The created nutrition entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nutrition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/athletes/{athleteId}/nutrition/{nutritionId}:
    put:
      tags:
      - Nutrition
      summary: Update athlete nutrition
      description: Update a nutrition log entry. Scope nutrition:write.
      operationId: updateNutrition
      parameters:
      - name: athleteId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: nutritionId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Nutrition'
      responses:
        '200':
          description: The updated nutrition entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nutrition'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      tags:
      - Nutrition
      summary: Delete athlete nutrition
      description: Delete a nutrition log entry. Scope nutrition:write.
      operationId: deleteNutrition
      parameters:
      - name: athleteId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: nutritionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Nutrition:
      type: object
      description: Nutrition log entry. Modeled.
      properties:
        Id:
          type: string
        AthleteId:
          type: integer
          format: int64
        Date:
          type: string
          format: date
        Calories:
          type: number
        CarbohydratesInGrams:
          type: number
        ProteinInGrams:
          type: number
        FatInGrams:
          type: number
  responses:
    Unauthorized:
      description: Bad, expired, or missing authorization header.
    BadRequest:
      description: One or more required fields are missing or incorrect.
    Forbidden:
      description: Refused - e.g. accessing an athlete no longer attached to the coach, or premium data for a basic athlete.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow. Tokens are short-lived (expires_in seconds) and refreshed with the refresh_token grant. Scopes are not inclusive (e.g. workouts:details does not include workouts:read) and are limited to those granted to your application.
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.trainingpeaks.com/OAuth/Authorize
          tokenUrl: https://oauth.trainingpeaks.com/oauth/token
          refreshUrl: https://oauth.trainingpeaks.com/oauth/token
          scopes:
            athlete:profile: Read the authenticated athlete's profile and zones.
            coach:athletes: Read coach profile, athletes, and assistants.
            workouts:read: Read planned and completed workouts and analytics.
            workouts:plan: Create, update, and delete planned workouts.
            workouts:wod: Read Workout of the Day and structured workout files.
            workouts:details: Read workout detail samples and post comments.
            metrics:read: Read athlete metrics.
            metrics:write: Create athlete metrics.
            nutrition:read: Read athlete nutrition entries.
            nutrition:write: Create, update, and delete nutrition entries.
            events:read: Read athlete events.
            events:write: Create athlete events.
            routes:read: Read athlete routes.
            routes:write: Create athlete routes.
            file:write: Upload activity files.
            webhook:read-subscriptions: List webhook subscriptions.
            webhook:write-subscriptions: Create, update, and delete webhook subscriptions.
