openapi: 3.2.0
info:
  title: TrainingPeaks Partners File API
  version: '2.0'
  description: The TrainingPeaks Partners API (Public API) lets approved third-party applications read and write TrainingPeaks data on behalf of a user - athlete profiles, planned and completed workouts, structured workout files, wellness metrics, nutrition, events, routes, coach relationships, activity file uploads, and workout webhooks.
  contact:
    name: TrainingPeaks API Partnerships Team
    url: https://api.trainingpeaks.com/request-access
  x-access-model: partner-gated (application required; not available for personal use)
  x-endpoints-confirmed: true
  x-schemas-modeled: true
  x-documentation: https://github.com/TrainingPeaks/PartnersAPI/wiki
servers:
- url: https://api.trainingpeaks.com
  description: Production
- url: https://api.sandbox.trainingpeaks.com
  description: Sandbox (UAT; database refreshed weekly from production)
security:
- OAuth2: []
tags:
- name: File
  description: Asynchronous activity file uploads.
paths:
  /v3/file:
    post:
      tags:
      - File
      summary: Upload activity file (asynchronous)
      description: Upload a completed device/activity file to an athlete's account. Processed asynchronously (synchronous upload deprecated 6/2023). Supported types are .FIT, .TCX, and .PWX. Scope file:write.
      operationId: uploadFile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileUpload'
      responses:
        '202':
          description: Accepted for asynchronous processing.
        '415':
          description: Unsupported media type. Supported file types are .FIT, .TCX, and .PWX.
        '422':
          description: The uploaded file has already been uploaded to the athlete's account.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    FileUpload:
      type: object
      description: Activity file upload payload. Modeled from File-Upload-Asynchronous wiki page.
      required:
      - AthleteId
      - FileName
      - Data
      properties:
        AthleteId:
          type: integer
          format: int64
        FileName:
          type: string
          description: Must end in .FIT
          .TCX: null
          or .PWX.: null
        Data:
          type: string
          format: byte
          description: Base64-encoded file contents.
  responses:
    Unauthorized:
      description: Bad, expired, or missing authorization header.
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow. Tokens are short-lived (expires_in seconds) and refreshed with the refresh_token grant. Scopes are not inclusive (e.g. workouts:details does not include workouts:read) and are limited to those granted to your application.
      flows:
        authorizationCode:
          authorizationUrl: https://oauth.trainingpeaks.com/OAuth/Authorize
          tokenUrl: https://oauth.trainingpeaks.com/oauth/token
          refreshUrl: https://oauth.trainingpeaks.com/oauth/token
          scopes:
            athlete:profile: Read the authenticated athlete's profile and zones.
            coach:athletes: Read coach profile, athletes, and assistants.
            workouts:read: Read planned and completed workouts and analytics.
            workouts:plan: Create, update, and delete planned workouts.
            workouts:wod: Read Workout of the Day and structured workout files.
            workouts:details: Read workout detail samples and post comments.
            metrics:read: Read athlete metrics.
            metrics:write: Create athlete metrics.
            nutrition:read: Read athlete nutrition entries.
            nutrition:write: Create, update, and delete nutrition entries.
            events:read: Read athlete events.
            events:write: Create athlete events.
            routes:read: Read athlete routes.
            routes:write: Create athlete routes.
            file:write: Upload activity files.
            webhook:read-subscriptions: List webhook subscriptions.
            webhook:write-subscriptions: Create, update, and delete webhook subscriptions.
